**/node_modules/*
**/.build/*
**/migrations/*
#dangerfile.ts
.eslintrc.cjs
# commitlint.config.js
jest.config.js
commitlint.config.cjs
# tests (ignored in lint, covered by jest)
test/
**/*.spec.ts
**/*.test.ts
