{
  "branches": [
    {
      "name": "main",
      "channel": "dev",
      "prerelease": "dev"
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md"
      }
    ],
    [
      "@semantic-release/exec",
      {
        "publishCmd": "docker build -t $DOCKER_HUB_USERNAME/verana:dev -t $DOCKER_HUB_USERNAME/verana:dev-${nextRelease.version} . && docker push $DOCKER_HUB_USERNAME/verana:dev && docker push $DOCKER_HUB_USERNAME/verana:dev-${nextRelease.version}"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": []
      }
    ]
  ]
}
