  {
    "openapi": "3.0.0",
    "info": {
      "title": "Verana Indexer API",
      "description": "Comprehensive API for managing decentralized identifiers, trust registries, credential schemas, and permissions in the Verana ecosystem.\n\nIndexer endpoints (under /verana/indexer/v1) require the AtBlockHeight header so responses reflect a specific processed block height. All other endpoints return the latest indexed state unless noted otherwise.",
      "version": "1.0.0"
    },
    "servers": [
      {
        "url": "https://idx.testnet.verana.network",
        "description": "Testnet API server"
      },
      {
        "url": "http://localhost:3001",
        "description": "Local development server"
      }
    ],
    "paths": {
      "/verana/indexer/v1/block-height": {
        "get": {
          "tags": [
            "Indexer"
          ],
          "summary": "Get indexed block height",
          "description": "Return the latest block height that has been fully processed by the indexer.",
          "operationId": "getBlockHeight",
          "responses": {
            "200": {
              "description": "Current indexed block height",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "job_name": {
                        "type": "string"
                      },
                      "height": {
                        "type": "integer",
                        "minimum": 0
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date-time"
                      }
                    }
                  },
                  "example": {
                    "job_name": "crawl:block",
                    "height": 123456,
                    "updated_at": "2025-11-24T08:15:00.000Z"
                  }
                }
              }
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/verana/indexer/v1/changes": {
        "get": {
          "tags": [
            "Indexer"
          ],
          "summary": "List entity changes at a block height",
          "description": "Return all indexed entity changes for the requested block height.",
          "operationId": "listChanges",
          "parameters": [
            {
              "$ref": "#/components/parameters/AtBlockHeight"
            }
          ],
          "responses": {
            "200": {
              "description": "Entity changes recorded at the requested block height",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "block_height": {
                        "type": "integer",
                        "minimum": 0
                      },
                      "changes": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "entity_type": {
                              "type": "string"
                            },
                            "entity_id": {
                              "type": "string"
                            },
                            "operation": {
                              "type": "string",
                              "enum": [
                                "create",
                                "update",
                                "delete"
                              ]
                            },
                            "payload": {
                              "type": "object"
                            }
                          }
                        }
                      }
                    }
                  },
                  "example": {
                    "block_height": 123450,
                    "changes": [
                      {
                        "entity_type": "DidDirectory",
                        "entity_id": "did:verana:abc123",
                        "operation": "create",
                        "payload": {
                          "controller": "verana1abcd...",
                          "changes": {
                            "created": {
                              "old": null,
                              "new": "2025-11-24T07:00:00.000Z"
                            }
                          }
                        }
                      }
                    ]
                  }
                }
              }
            },
            "428": {
              "$ref": "#/components/responses/BadRequest"
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/verana/dd/v1/get/{did}": {
        "get": {
          "tags": [
            "DID"
          ],
          "summary": "Get a DID",
          "description": "Retrieve a specific Decentralized Identifier document by its DID",
          "operationId": "getDID",
          "parameters": [
            {
              "name": "did",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "The Decentralized Identifier to retrieve"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response with DID document",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/DIDResponse"
                  },
                  "example": {
                    "did": {
                      "did": "did:Test:123",
                      "controller": "verana1evvrzxw9yg5staqdvumd6fupy3jhaxfflla7st",
                      "deposit": "5000000",
                      "exp": "2026-10-06T08:46:20.686Z",
                      "created": "2025-10-06T08:46:20.686Z",
                      "modified": "2025-10-06T08:46:20.686Z"
                    }
                  }
                }
              }
            },
            "404": {
              "description": "DID not found",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Error"
                  },
                  "example": {
                    "error": "DID not found: did:Test:123",
                    "code": 404
                  }
                }
              }
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/verana/dd/v1/list": {
        "get": {
          "tags": [
            "DID"
          ],
          "summary": "List DIDs",
          "description": "Retrieve a paginated list of Decentralized Identifier documents with optional filtering",
          "operationId": "listDID",
          "parameters": [
            {
              "name": "response_max_size",
              "in": "query",
              "required": false,
              "schema": {
                "type": "integer",
                "minimum": 1,
                "maximum": 1024,
                "default": 64
              },
              "description": "Maximum number of records to return"
            },
            {
              "name": "account",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "Filter by controller account"
            },
            {
              "name": "modified",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string",
                "format": "date-time"
              },
              "description": "Filter by modification date"
            },
            {
              "name": "over_grace",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean"
              },
              "description": "Filter by grace period status"
            },
            {
              "name": "expired",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean"
              },
              "description": "Filter by expiration status"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response with list of DIDs",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/DIDListResponse"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/verana/dd/v1/history/{did}": {
        "get": {
          "tags": [
            "DID"
          ],
          "summary": "Get DID history",
          "description": "Retrieve the complete history and changes for a specific DID",
          "operationId": "getDIDHistory",
          "parameters": [
            {
              "name": "did",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "The Decentralized Identifier to retrieve history for"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response with DID history",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/DIDHistoryResponse"
                  }
                }
              }
            },
            "404": {
              "description": "DID history not found",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Error"
                  },
                  "example": {
                    "error": "DID history not found: did:Test:123",
                    "code": 404
                  }
                }
              }
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/verana/dd/v1/params": {
        "get": {
          "tags": [
            "DID"
          ],
          "summary": "Get DID parameters",
          "description": "Retrieve current system parameters for DID directory",
          "operationId": "getDIDParams",
          "responses": {
            "200": {
              "description": "Successful response with DID parameters",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/DIDParamsResponse"
                  }
                }
              }
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/verana/tr/v1/params": {
        "get": {
          "tags": [
            "Trust Registry"
          ],
          "summary": "Get Trust Registry parameters",
          "description": "Retrieve current system parameters for Trust Registry",
          "operationId": "getTrustRegistryParams",
          "responses": {
            "200": {
              "description": "Successful response with Trust Registry parameters",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/TrustRegistryParamsResponse"
                  }
                }
              }
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/verana/tr/v1/list": {
        "get": {
          "tags": [
            "Trust Registry"
          ],
          "summary": "List Trust Registries",
          "description": "Retrieve a paginated list of Trust Registries with optional filtering",
          "operationId": "listTrustRegistry",
          "parameters": [
            {
              "name": "active_gf_only",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean",
                "default": true
              },
              "description": "Filter only active governance frameworks"
            },
            {
              "name": "preferred_language",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "Preferred language for document content"
            },
            {
              "name": "response_max_size",
              "in": "query",
              "required": false,
              "schema": {
                "type": "integer",
                "minimum": 1,
                "maximum": 1024,
                "default": 64
              },
              "description": "Maximum number of records to return"
            },
            {
              "name": "modified_after",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string",
                "format": "date-time"
              },
              "description": "Filter by modification date"
            },
            {
              "name": "controller",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "Filter by controller account"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response with list of Trust Registries",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/TrustRegistryListResponse"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/verana/tr/v1/get/{id}": {
        "get": {
          "tags": [
            "Trust Registry"
          ],
          "summary": "Get Trust Registry",
          "description": "Retrieve a specific Trust Registry by its ID",
          "operationId": "getTrustRegistry",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "The Trust Registry ID to retrieve"
            },
            {
              "name": "active_gf_only",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean",
                "default": true
              },
              "description": "Filter only active governance frameworks"
            },
            {
              "name": "preferred_language",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "Preferred language for document content"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response with Trust Registry details",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/TrustRegistryResponse"
                  }
                }
              }
            },
            "404": {
              "description": "Trust Registry not found",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Error"
                  },
                  "example": {
                    "error": "Trust Registry not found: 1",
                    "code": 404
                  }
                }
              }
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/verana/tr/v1/history/{id}": {
        "get": {
          "tags": [
            "Trust Registry"
          ],
          "summary": "Get Trust Registry history",
          "description": "Retrieve the complete history and changes for a specific Trust Registry",
          "operationId": "getTrustRegistryHistory",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "The Trust Registry ID to retrieve history for"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response with Trust Registry history",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/TrustRegistryHistoryResponse"
                  }
                }
              }
            },
            "404": {
              "description": "Trust Registry history not found",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Error"
                  },
                  "example": {
                    "error": "Trust Registry history not found: 5",
                    "code": 404
                  }
                }
              }
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/verana/cs/v1/get/{id}": {
        "get": {
          "tags": [
            "Credential Schema"
          ],
          "summary": "Get Credential Schema",
          "description": "Retrieve a specific Credential Schema by its ID",
          "operationId": "getCredentialSchema",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "The Credential Schema ID to retrieve"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response with Credential Schema details",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CredentialSchemaResponse"
                  }
                }
              }
            },
            "404": {
              "description": "Credential Schema not found",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Error"
                  },
                  "example": {
                    "error": "Credential Schema not found: 3",
                    "code": 404
                  }
                }
              }
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/verana/cs/v1/js/{id}": {
        "get": {
          "tags": [
            "Credential Schema"
          ],
          "summary": "Get JSON Schema",
          "description": "Retrieve the JSON Schema definition for a specific Credential Schema",
          "operationId": "getJsonSchema",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "The Credential Schema ID to retrieve JSON Schema for"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response with JSON Schema",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/JsonSchemaResponse"
                  }
                }
              }
            },
            "404": {
              "description": "JSON Schema not found",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Error"
                  },
                  "example": {
                    "error": "JSON Schema not found for Credential Schema: 3",
                    "code": 404
                  }
                }
              }
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/verana/cs/v1/list": {
        "get": {
          "tags": [
            "Credential Schema"
          ],
          "summary": "List Credential Schemas",
          "description": "Retrieve a paginated list of Credential Schemas with optional filtering",
          "operationId": "listCredentialSchemas",
          "parameters": [
            {
              "name": "tr_id",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "Filter by Trust Registry ID"
            },
            {
              "name": "modified_after",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string",
                "format": "date-time"
              },
              "description": "Filter by modification date"
            },
            {
              "name": "only_active",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean",
                "default": false
              },
              "description": "Filter only active"
            },
            {
              "name": "issuer_perm_management_mode",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string",
                "enum": [
                  "OPEN",
                  "ECOSYSTEM",
                  "GRANTOR_VALIDATION"
                ]
              },
              "description": "Filter by issuer permission management mode"
            },
            {
              "name": "verifier_perm_management_mode",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string",
                "enum": [
                  "OPEN",
                  "ECOSYSTEM",
                  "GRANTOR_VALIDATION"
                ]
              },
              "description": "Filter by verifier permission management mode"
            },
            {
              "name": "response_max_size",
              "in": "query",
              "required": false,
              "schema": {
                "type": "integer",
                "minimum": 1,
                "maximum": 1024,
                "default": 64
              },
              "description": "Maximum number of records to return in the response"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response with list of Credential Schemas",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CredentialSchemaListResponse"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/verana/cs/v1/history/{id}": {
        "get": {
          "tags": [
            "Credential Schema"
          ],
          "summary": "Get Credential Schema history",
          "description": "Retrieve the complete history and changes for a specific Credential Schema",
          "operationId": "getCredentialSchemaHistory",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "The Credential Schema ID to retrieve history for"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response with Credential Schema history",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CredentialSchemaHistoryResponse"
                  }
                }
              }
            },
            "404": {
              "description": "Credential Schema history not found",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Error"
                  },
                  "example": {
                    "error": "Credential Schema history not found: 3",
                    "code": 404
                  }
                }
              }
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/verana/cs/v1/params": {
        "get": {
          "tags": [
            "Credential Schema"
          ],
          "summary": "Get Credential Schema parameters",
          "description": "Retrieve current system parameters for Credential Schemas",
          "operationId": "getCredentialSchemaParams",
          "responses": {
            "200": {
              "description": "Successful response with Credential Schema parameters",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CredentialSchemaParamsResponse"
                  }
                }
              }
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/verana/perm/v1/list": {
        "get": {
          "tags": [
            "Permissions"
          ],
          "summary": "List Permissions",
          "description": "Retrieve a paginated list of Permissions with extensive filtering options",
          "operationId": "listPermissions",
          "parameters": [
            {
              "name": "grantee",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "Filter by grantee account"
            },
            {
              "name": "did",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "Filter by DID"
            },
            {
              "name": "perm_id",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "Filter by permission ID"
            },
            {
              "name": "type",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string",
                "enum": [
                  "ISSUER",
                  "VERIFIER",
                  "ISSUER_GRANTOR",
                  "VERIFIER_GRANTOR",
                  "ECOSYSTEM",
                  "HOLDER"
                ]
              },
              "description": "Filter by permission type"
            },
            {
              "name": "only_valid",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean"
              },
              "description": "Filter only valid permissions"
            },
            {
              "name": "only_slashed",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean"
              },
              "description": "Filter only slashed permissions"
            },
            {
              "name": "only_repaid",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean",
                "default": false
              },
              "description": "Filter only repaid permissions"
            },
            {
              "name": "modified_after",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string",
                "format": "date-time"
              },
              "description": "Filter by modification date"
            },
            {
              "name": "country",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "Filter by country code"
            },
            {
              "name": "vp_state",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string",
                "enum": [
                  "PENDING",
                  "VALIDATED",
                  "TERMINATED",
                  "VALIDATION_STATE_UNSPECIFIED"
                ]
              },
              "description": "Filter by validation process state"
            },
            {
              "name": "response_max_size",
              "in": "query",
              "required": false,
              "schema": {
                "type": "integer",
                "minimum": 1,
                "maximum": 1024,
                "default": 64
              },
              "description": "Maximum number of records to return"
            },
            {
              "name": "when",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string",
                "format": "date-time"
              },
              "description": "Filter by effective date"
            },
            {
              "name": "schema_id",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "Filter by schema ID"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response with list of Permissions",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/PermissionListResponse"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/verana/perm/v1/get/{id}": {
        "get": {
          "tags": [
            "Permissions"
          ],
          "summary": "Get Permission",
          "description": "Retrieve a specific Permission by its ID",
          "operationId": "getPermission",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "The Permission ID to retrieve"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response with Permission details",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/PermissionResponse"
                  }
                }
              }
            },
            "404": {
              "description": "Permission not found",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Error"
                  },
                  "example": {
                    "error": "Permission not found: 1",
                    "code": 404
                  }
                }
              }
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/verana/perm/v1/history/{id}": {
        "get": {
          "tags": [
            "Permissions"
          ],
          "summary": "Get Permission History",
          "description": "Retrieve the recorded history for a specific Permission ID.",
          "operationId": "getPermissionHistory",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "Permission ID whose history will be returned"
            }
          ],
          "responses": {
            "200": {
              "description": "History entries for the given Permission",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/PermissionHistoryResponse"
                  }
                }
              }
            },
            "404": {
              "description": "No history entries found",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Error"
                  }
                }
              }
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/verana/perm/v1/permission-session/{id}": {
        "get": {
          "tags": [
            "Permissions"
          ],
          "summary": "Get Permission Session",
          "description": "Retrieve a specific Permission Session by its ID",
          "operationId": "getPermissionSession",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              },
              "description": "The Permission Session ID to retrieve"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response with Permission Session details",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/PermissionSessionResponse"
                  }
                }
              }
            },
            "404": {
              "description": "Permission Session not found",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Error"
                  },
                  "example": {
                    "error": "Permission Session not found: 123e4567-e89b-12d3-a456-426614174000",
                    "code": 404
                  }
                }
              }
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/verana/perm/v1/permission-session-history/{id}": {
        "get": {
          "tags": [
            "Permissions"
          ],
          "summary": "Get Permission Session History",
          "description": "Retrieve the recorded history for a specific Permission Session ID.",
          "operationId": "getPermissionSessionHistory",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              },
              "description": "Permission Session ID to fetch history for"
            }
          ],
          "responses": {
            "200": {
              "description": "History entries for the given Permission Session",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/PermissionSessionHistoryResponse"
                  }
                }
              }
            },
            "404": {
              "description": "No history entries found",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Error"
                  }
                }
              }
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/verana/perm/v1/permission-sessions": {
        "get": {
          "tags": [
            "Permissions"
          ],
          "summary": "List Permission Sessions",
          "description": "Retrieve a paginated list of Permission Sessions",
          "operationId": "listPermissionSessions",
          "parameters": [
            {
              "name": "modified_after",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string",
                "format": "date-time"
              },
              "description": "Filter by modification date"
            },
            {
              "name": "response_max_size",
              "in": "query",
              "required": false,
              "schema": {
                "type": "integer",
                "minimum": 1,
                "maximum": 1024,
                "default": 64
              },
              "description": "Maximum number of records to return"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response with list of Permission Sessions",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/PermissionSessionListResponse"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/verana/perm/v1/beneficiaries": {
        "get": {
          "tags": [
            "Permissions"
          ],
          "summary": "Find Beneficiaries",
          "description": "Find permission beneficiaries based on issuer and verifier permissions",
          "operationId": "findBeneficiaries",
          "parameters": [
            {
              "name": "issuer_perm_id",
              "in": "query",
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "Issuer Permission ID"
            },
            {
              "name": "verifier_perm_id",
              "in": "query",
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "Verifier Permission ID"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response with beneficiary permissions",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BeneficiaryResponse"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "404": {
              "description": "Beneficiaries not found",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Error"
                  },
                  "example": {
                    "error": "No beneficiaries found for issuer_perm_id: 1 and verifier_perm_id: 2",
                    "code": 404
                  }
                }
              }
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/verana/td/v1/get/{account}": {
        "get": {
          "tags": [
            "TrustDeposit"
          ],
          "summary": "Get Trust Deposit by Account",
          "description": "Retrieve trust deposit information for a specific account",
          "operationId": "getTrustDepositByAccount",
          "parameters": [
            {
              "name": "account",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "The account address to retrieve trust deposit for"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response with trust deposit details",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/TrustDepositResponse"
                  },
                  "example": {
                    "trust_deposit": {
                      "account": "verana1sxau0xyttphpck7vhlvt8s82ez70nlzw2mhya0",
                      "share": "20000000",
                      "amount": "20000000",
                      "claimable": "0",
                      "slashed_deposit": "0",
                      "repaid_deposit": "0",
                      "last_slashed": null,
                      "last_repaid": null,
                      "slash_count": 0,
                      "last_repaid_by": ""
                    }
                  }
                }
              }
            },
            "404": {
              "description": "Trust Deposit not found",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Error"
                  },
                  "example": {
                    "error": "Trust Deposit not found for account: verana1sxau0xyttphpck7vhlvt8s82ez70nlzw2mhya0",
                    "code": 404
                  }
                }
              }
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/verana/td/v1/params": {
        "get": {
          "tags": [
            "TrustDeposit"
          ],
          "summary": "Get Trust Deposit Parameters",
          "description": "Retrieve current system parameters for Trust Deposit module",
          "operationId": "getTrustDepositParams",
          "responses": {
            "200": {
              "description": "Successful response with Trust Deposit parameters",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/TrustDepositParamsResponse"
                  },
                  "example": {
                    "params": {
                      "trust_deposit_rate": "0.200000000000000000",
                      "user_agent_reward_rate": "0.200000000000000000",
                      "trust_deposit_share_value": "1.000000000000000000",
                      "wallet_user_agent_reward_rate": "0.200000000000000000",
                      "trust_deposit_reclaim_burn_rate": "0.600000000000000000"
                    }
                  }
                }
              }
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/verana/td/v1/history/{account}": {
        "get": {
          "tags": [
            "TrustDeposit"
          ],
          "summary": "Get Trust Deposit History",
          "description": "Retrieve the complete history of changes for a specific account's trust deposit",
          "operationId": "getTrustDepositHistory",
          "parameters": [
            {
              "name": "account",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "The account address to retrieve trust deposit history for"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response with trust deposit history",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/TrustDepositHistoryResponse"
                  },
                  "example": {
                    "history": [
                      {
                        "id": 1,
                        "account": "verana1sxau0xyttphpck7vhlvt8s82ez70nlzw2mhya0",
                        "share": "20000000",
                        "amount": "20000000",
                        "claimable": "0",
                        "slashed_deposit": "0",
                        "repaid_deposit": "0",
                        "last_slashed": null,
                        "last_repaid": null,
                        "slash_count": 0,
                        "last_repaid_by": "",
                        "event_type": "CREATE_TRUST_DEPOSIT",
                        "height": 12345,
                        "changes": null,
                        "created_at": "2025-11-26T08:35:35.199Z"
                      }
                    ]
                  }
                }
              }
            },
            "404": {
              "description": "Trust Deposit history not found",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Error"
                  },
                  "example": {
                    "error": "No trust deposit history found for account: verana1sxau0xyttphpck7vhlvt8s82ez70nlzw2mhya0",
                    "code": 404
                  }
                }
              }
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/verana/v1/account-reputation": {
        "get": {
          "tags": [
            "Account"
          ],
          "summary": "Get Account Reputation",
          "description": "Retrieve comprehensive reputation information for a specific account including trust deposits, slashing history, and activity metrics across trust registries and credential schemas",
          "operationId": "getAccountReputation",
          "parameters": [
            {
              "name": "account",
              "in": "query",
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "The account address to retrieve reputation for"
            },
            {
              "name": "tr_id",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "Filter by specific Trust Registry ID"
            },
            {
              "name": "schema_id",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "Filter by specific Credential Schema ID"
            },
            {
              "name": "include_slash_details",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean",
                "default": false
              },
              "description": "Include detailed slashing and repayment information"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response with account reputation details",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/AccountReputationResponse"
                  },
                  "example": {
                    "account": "verana1evvrzxw9yg5staqdvumd6fupy3jhaxfflla7st",
                    "balance": "7000000000",
                    "deposit": 65001050,
                    "slashed": 1050,
                    "repaid": 1001050,
                    "slash_count": 6,
                    "first_interaction_ts": null,
                    "trust_registry_count": 1,
                    "credential_schema_count": 1,
                    "slashs": [
                      {
                        "slashed_amount": "1050",
                        "slashed_ts": "2025-10-16T12:45:29.745Z",
                        "slashed_by": "verana1evvrzxw9yg5staqdvumd6fupy3jhaxfflla7st"
                      }
                    ],
                    "repayments": [
                      {
                        "repaid_amount": "1001050",
                        "repaid_ts": "2025-10-16T13:47:44.071Z",
                        "repaid_by": "verana1evvrzxw9yg5staqdvumd6fupy3jhaxfflla7st"
                      }
                    ],
                    "trust_registries": [
                      {
                        "tr_id": "2",
                        "tr_did": "did:test:1",
                        "credential_schemas": [
                          {
                            "schema_id": 4,
                            "deposit": 20000000,
                            "slashed": 1050,
                            "repaid": 1050,
                            "slash_count": 1,
                            "issued": 0,
                            "verified": 0,
                            "run_as_validator_vps": 0,
                            "run_as_applicant_vps": 0,
                            "issuer_perm_count": 1,
                            "verifier_perm_count": 0,
                            "issuer_grantor_perm_count": 0,
                            "verifier_grantor_perm_count": 0,
                            "ecosystem_perm_count": 1,
                            "active_issuer_perm_count": 1,
                            "active_verifier_perm_count": 0,
                            "active_issuer_grantor_perm_count": 0,
                            "active_verifier_grantor_perm_count": 0,
                            "active_ecosystem_perm_count": 1,
                            "slashs": [
                              {
                                "perm_id": "2",
                                "schema_id": 4,
                                "tr_id": "2",
                                "slashed_ts": "2025-10-16T12:45:29.745Z",
                                "slashed_by": "verana1evvrzxw9yg5staqdvumd6fupy3jhaxfflla7st"
                              }
                            ],
                            "repayments": [
                              {
                                "perm_id": "2",
                                "schema_id": 4,
                                "tr_id": "2",
                                "repaid_ts": "2025-10-16T12:46:01.406Z",
                                "repaid_by": "verana1evvrzxw9yg5staqdvumd6fupy3jhaxfflla7st"
                              }
                            ]
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request - Invalid parameters provided",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Error"
                  },
                  "example": {
                    "error": "Missing required parameter: account",
                    "code": 400
                  }
                }
              }
            },
            "404": {
              "description": "Account not found",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Error"
                  },
                  "example": {
                    "error": "Account not found: verana1nonexistentaddress",
                    "code": 404
                  }
                }
              }
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      }
    },
    "components": {
      "parameters": {
        "AtBlockHeight": {
          "name": "AtBlockHeight",
          "in": "header",
          "required": true,
          "description": "Return the state of the indexer as it was when block <blockHeight> finished processing.",
          "schema": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "schemas": {
        "Error": {
          "type": "object",
          "properties": {
            "error": {
              "type": "string",
              "description": "Error message"
            },
            "code": {
              "type": "integer",
              "description": "HTTP status code"
            },
            "details": {
              "type": "string",
              "description": "Additional error details",
              "nullable": true
            }
          }
        },
        "DID": {
          "type": "object",
          "properties": {
            "did": {
              "type": "string",
              "description": "Decentralized Identifier"
            },
            "controller": {
              "type": "string",
              "description": "Controller account address"
            },
            "deposit": {
              "type": "string",
              "description": "Deposit amount"
            },
            "exp": {
              "type": "string",
              "format": "date-time",
              "description": "Expiration date"
            },
            "created": {
              "type": "string",
              "format": "date-time",
              "description": "Creation date"
            },
            "modified": {
              "type": "string",
              "format": "date-time",
              "description": "Last modification date"
            }
          }
        },
        "DIDResponse": {
          "type": "object",
          "properties": {
            "did": {
              "$ref": "#/components/schemas/DID"
            }
          }
        },
        "DIDListResponse": {
          "type": "object",
          "properties": {
            "dids": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/DID"
              }
            }
          }
        },
        "DIDHistoryResponse": {
          "type": "object",
          "properties": {
            "did": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "did": {
                    "type": "string"
                  },
                  "years": {
                    "type": "string"
                  },
                  "controller": {
                    "type": "string"
                  },
                  "deposit": {
                    "type": "string"
                  },
                  "exp": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "created": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "changes": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "DIDParamsResponse": {
          "type": "object",
          "properties": {
            "params": {
              "type": "object",
              "properties": {
                "did_directory_grace_period": {
                  "type": "string"
                },
                "did_directory_trust_deposit": {
                  "type": "string"
                }
              }
            }
          }
        },
        "TrustRegistryParamsResponse": {
          "type": "object",
          "properties": {
            "params": {
              "type": "object",
              "properties": {
                "trust_unit_price": {
                  "type": "string"
                },
                "trust_registry_trust_deposit": {
                  "type": "string"
                }
              }
            }
          }
        },
        "TrustRegistry": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string"
            },
            "did": {
              "type": "string"
            },
            "controller": {
              "type": "string"
            },
            "created": {
              "type": "string",
              "format": "date-time"
            },
            "modified": {
              "type": "string",
              "format": "date-time"
            },
            "archived": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "deposit": {
              "type": "string"
            },
            "aka": {
              "type": "string",
              "nullable": true
            },
            "language": {
              "type": "string"
            },
            "active_version": {
              "type": "integer"
            },
            "versions": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/TrustRegistryVersion"
              }
            }
          }
        },
        "TrustRegistryVersion": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string"
            },
            "tr_id": {
              "type": "string"
            },
            "created": {
              "type": "string",
              "format": "date-time"
            },
            "version": {
              "type": "integer"
            },
            "active_since": {
              "type": "string",
              "format": "date-time"
            },
            "documents": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/TrustRegistryDocument"
              }
            }
          }
        },
        "TrustRegistryDocument": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string"
            },
            "gfv_id": {
              "type": "string"
            },
            "created": {
              "type": "string",
              "format": "date-time"
            },
            "language": {
              "type": "string"
            },
            "url": {
              "type": "string"
            },
            "digest_sri": {
              "type": "string"
            }
          }
        },
        "TrustRegistryListResponse": {
          "type": "object",
          "properties": {
            "trust_registries": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/TrustRegistry"
              }
            }
          }
        },
        "TrustRegistryResponse": {
          "type": "object",
          "properties": {
            "trust_registry": {
              "$ref": "#/components/schemas/TrustRegistry"
            }
          }
        },
        "TrustRegistryHistoryResponse": {
          "type": "object",
          "properties": {
            "trust_registry": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "did": {
                  "type": "string"
                },
                "controller": {
                  "type": "string"
                },
                "created": {
                  "type": "string",
                  "format": "date-time"
                },
                "modified": {
                  "type": "string",
                  "format": "date-time"
                },
                "archived": {
                  "type": "string",
                  "format": "date-time",
                  "nullable": true
                },
                "deposit": {
                  "type": "string"
                },
                "aka": {
                  "type": "string",
                  "nullable": true
                },
                "language": {
                  "type": "string"
                },
                "active_version": {
                  "type": "integer"
                },
                "versions": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TrustRegistryVersion"
                  }
                }
              }
            }
          }
        },
        "CredentialSchema": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer"
            },
            "tr_id": {
              "type": "string"
            },
            "json_schema": {
              "type": "string"
            },
            "deposit": {
              "type": "string"
            },
            "issuer_grantor_validation_validity_period": {
              "type": "integer"
            },
            "verifier_grantor_validation_validity_period": {
              "type": "integer"
            },
            "issuer_validation_validity_period": {
              "type": "integer"
            },
            "verifier_validation_validity_period": {
              "type": "integer"
            },
            "holder_validation_validity_period": {
              "type": "integer"
            },
            "issuer_perm_management_mode": {
              "type": "string",
              "enum": [
                "OPEN",
                "ECOSYSTEM",
                "GRANTOR_VALIDATION"
              ]
            },
            "verifier_perm_management_mode": {
              "type": "string",
              "enum": [
                "OPEN",
                "ECOSYSTEM",
                "GRANTOR_VALIDATION"
              ]
            },
            "archived": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "created": {
              "type": "string",
              "format": "date-time"
            },
            "modified": {
              "type": "string",
              "format": "date-time"
            }
          }
        },
        "CredentialSchemaResponse": {
          "type": "object",
          "properties": {
            "schema": {
              "$ref": "#/components/schemas/CredentialSchema"
            }
          }
        },
        "JsonSchemaResponse": {
          "type": "object",
          "properties": {
            "schema": {
              "type": "string"
            }
          }
        },
        "CredentialSchemaListResponse": {
          "type": "object",
          "properties": {
            "schemas": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/CredentialSchema"
              }
            }
          }
        },
        "CredentialSchemaHistoryResponse": {
          "type": "object",
          "properties": {
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "history": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "CredentialSchemaParamsResponse": {
          "type": "object",
          "properties": {
            "params": {
              "type": "object",
              "properties": {
                "credential_schema_trust_deposit": {
                  "type": "string"
                }
              }
            }
          }
        },
        "Permission": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string"
            },
            "schema_id": {
              "type": "string"
            },
            "type": {
              "type": "string",
              "enum": [
                "ISSUER",
                "VERIFIER",
                "ECOSYSTEM"
              ]
            },
            "did": {
              "type": "string",
              "nullable": true
            },
            "grantee": {
              "type": "string"
            },
            "created_by": {
              "type": "string"
            },
            "created": {
              "type": "string",
              "format": "date-time"
            },
            "modified": {
              "type": "string",
              "format": "date-time"
            },
            "extended": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "extended_by": {
              "type": "string",
              "nullable": true
            },
            "slashed": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "slashed_by": {
              "type": "string",
              "nullable": true
            },
            "repaid": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "repaid_by": {
              "type": "string",
              "nullable": true
            },
            "effective_from": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "effective_until": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "revoked": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "revoked_by": {
              "type": "string",
              "nullable": true
            },
            "country": {
              "type": "string",
              "nullable": true
            },
            "validation_fees": {
              "type": "string"
            },
            "issuance_fees": {
              "type": "string"
            },
            "verification_fees": {
              "type": "string"
            },
            "deposit": {
              "type": "string"
            },
            "slashed_deposit": {
              "type": "string"
            },
            "repaid_deposit": {
              "type": "string"
            },
            "validator_perm_id": {
              "type": "string",
              "nullable": true
            },
            "vp_state": {
              "type": "string",
              "enum": [
                "PENDING",
                "VALIDATED",
                "TERMINATED",
                "VALIDATION_STATE_UNSPECIFIED"
              ]
            },
            "vp_last_state_change": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "vp_current_fees": {
              "type": "string"
            },
            "vp_current_deposit": {
              "type": "string"
            },
            "vp_summary_digest_sri": {
              "type": "string",
              "nullable": true
            },
            "vp_exp": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "vp_validator_deposit": {
              "type": "string"
            },
            "vp_term_requested": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          }
        },
        "PermissionResponse": {
          "type": "object",
          "properties": {
            "permission": {
              "$ref": "#/components/schemas/Permission"
            }
          }
        },
        "PermissionListResponse": {
          "type": "object",
          "properties": {
            "permissions": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Permission"
              }
            }
          }
        },
        "PermissionHistoryItem": {
          "type": "object",
          "properties": {
            "permission_id": {
              "type": "string"
            },
            "schema_id": {
              "type": "integer"
            },
            "type": {
              "type": "string"
            },
            "grantee": {
              "type": "string"
            },
            "event_type": {
              "type": "string"
            },
            "height": {
              "type": "integer"
            },
            "changes": {
              "type": "object",
              "nullable": true,
              "description": "Field-level diffs for the event"
            },
            "created_at": {
              "type": "string",
              "format": "date-time"
            }
          }
        },
        "PermissionHistoryResponse": {
          "type": "object",
          "properties": {
            "history": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/PermissionHistoryItem"
              }
            }
          }
        },
        "PermissionSession": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "format": "uuid"
            },
            "controller": {
              "type": "string"
            },
            "agent_perm_id": {
              "type": "string"
            },
            "wallet_agent_perm_id": {
              "type": "string"
            },
            "authz": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "issuer_perm_id": {
                    "type": "integer"
                  },
                  "verifier_perm_id": {
                    "type": "integer"
                  },
                  "wallet_agent_perm_id": {
                    "type": "integer"
                  }
                }
              }
            },
            "created": {
              "type": "string",
              "format": "date-time"
            },
            "modified": {
              "type": "string",
              "format": "date-time"
            }
          }
        },
        "PermissionSessionResponse": {
          "type": "object",
          "properties": {
            "session": {
              "$ref": "#/components/schemas/PermissionSession"
            }
          }
        },
        "PermissionSessionListResponse": {
          "type": "object",
          "properties": {
            "sessions": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/PermissionSession"
              }
            }
          }
        },
        "PermissionSessionHistoryItem": {
          "type": "object",
          "properties": {
            "session_id": {
              "type": "string",
              "format": "uuid"
            },
            "event_type": {
              "type": "string"
            },
            "height": {
              "type": "integer"
            },
            "controller": {
              "type": "string"
            },
            "agent_perm_id": {
              "type": "string"
            },
            "wallet_agent_perm_id": {
              "type": "string"
            },
            "authz": {
              "type": "array",
              "items": {
                "type": "object"
              }
            },
            "changes": {
              "type": "object",
              "nullable": true
            },
            "created_at": {
              "type": "string",
              "format": "date-time"
            }
          }
        },
        "PermissionSessionHistoryResponse": {
          "type": "object",
          "properties": {
            "history": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/PermissionSessionHistoryItem"
              }
            }
          }
        },
        "BeneficiaryResponse": {
          "type": "object",
          "properties": {
            "permissions": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Permission"
              }
            }
          }
        },
        "TrustDeposit": {
          "type": "object",
          "properties": {
            "account": {
              "type": "string",
              "description": "Account address"
            },
            "share": {
              "type": "string",
              "description": "Current share amount"
            },
            "amount": {
              "type": "string",
              "description": "Total deposit amount"
            },
            "claimable": {
              "type": "string",
              "description": "Claimable rewards amount"
            },
            "slashed_deposit": {
              "type": "string",
              "description": "Total slashed deposit amount"
            },
            "repaid_deposit": {
              "type": "string",
              "description": "Total repaid deposit amount"
            },
            "last_slashed": {
              "type": "string",
              "format": "date-time",
              "nullable": true,
              "description": "Last slash event timestamp"
            },
            "last_repaid": {
              "type": "string",
              "format": "date-time",
              "nullable": true,
              "description": "Last repay event timestamp"
            },
            "slash_count": {
              "type": "integer",
              "description": "Number of slash events"
            },
            "last_repaid_by": {
              "type": "string",
              "description": "Account that last performed repayment"
            }
          }
        },
        "TrustDepositResponse": {
          "type": "object",
          "properties": {
            "trust_deposit": {
              "$ref": "#/components/schemas/TrustDeposit"
            }
          }
        },
        "TrustDepositParamsResponse": {
          "type": "object",
          "properties": {
            "params": {
              "type": "object",
              "properties": {
                "trust_deposit_rate": {
                  "type": "string",
                  "description": "Trust deposit interest rate",
                  "example": "0.200000000000000000"
                },
                "user_agent_reward_rate": {
                  "type": "string",
                  "description": "User agent reward rate",
                  "example": "0.200000000000000000"
                },
                "trust_deposit_share_value": {
                  "type": "string",
                  "description": "Value of each trust deposit share",
                  "example": "1.000000000000000000"
                },
                "wallet_user_agent_reward_rate": {
                  "type": "string",
                  "description": "Wallet user agent reward rate",
                  "example": "0.200000000000000000"
                },
                "trust_deposit_reclaim_burn_rate": {
                  "type": "string",
                  "description": "Burn rate for reclaimed trust deposits",
                  "example": "0.600000000000000000"
                }
              }
            }
          }
        },
        "TrustDepositHistoryItem": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "description": "History record ID"
            },
            "account": {
              "type": "string",
              "description": "Account address"
            },
            "share": {
              "type": "string",
              "description": "Share amount at this point"
            },
            "amount": {
              "type": "string",
              "description": "Deposit amount at this point"
            },
            "claimable": {
              "type": "string",
              "description": "Claimable amount at this point"
            },
            "slashed_deposit": {
              "type": "string",
              "description": "Slashed deposit at this point"
            },
            "repaid_deposit": {
              "type": "string",
              "description": "Repaid deposit at this point"
            },
            "last_slashed": {
              "type": "string",
              "format": "date-time",
              "nullable": true,
              "description": "Last slashed timestamp"
            },
            "last_repaid": {
              "type": "string",
              "format": "date-time",
              "nullable": true,
              "description": "Last repaid timestamp"
            },
            "slash_count": {
              "type": "integer",
              "description": "Slash count at this point"
            },
            "last_repaid_by": {
              "type": "string",
              "description": "Account that last repaid"
            },
            "event_type": {
              "type": "string",
              "enum": [
                "CREATE_TRUST_DEPOSIT",
                "ADJUST_TRUST_DEPOSIT",
                "SLASH_TRUST_DEPOSIT",
                "SLASH_PERM_TRUST_DEPOSIT",
                "RECLAIM_YIELD",
                "RECLAIM_DEPOSIT",
                "REPAY_SLASHED"
              ],
              "description": "Type of event that caused this history record"
            },
            "height": {
              "type": "integer",
              "description": "Block height when this change occurred"
            },
            "changes": {
              "type": "object",
              "nullable": true,
              "description": "Field-level diffs showing what changed"
            },
            "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "When this history record was created"
            }
          }
        },
        "TrustDepositHistoryResponse": {
          "type": "object",
          "properties": {
            "history": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/TrustDepositHistoryItem"
              }
            }
          }
        },
        "AccountReputationResponse": {
          "type": "object",
          "properties": {
            "account": {
              "type": "string",
              "description": "Account address"
            },
            "balance": {
              "type": "string",
              "description": "Current account balance"
            },
            "deposit": {
              "type": "integer",
              "description": "Total deposited amount across all trust registries and schemas"
            },
            "slashed": {
              "type": "integer",
              "description": "Total slashed amount"
            },
            "repaid": {
              "type": "integer",
              "description": "Total repaid amount"
            },
            "slash_count": {
              "type": "integer",
              "description": "Total number of slash events"
            },
            "first_interaction_ts": {
              "type": "string",
              "format": "date-time",
              "nullable": true,
              "description": "First interaction timestamp"
            },
            "trust_registry_count": {
              "type": "integer",
              "description": "Number of trust registries owned"
            },
            "credential_schema_count": {
              "type": "integer",
              "description": "Number of credential schemas owned"
            },
            "slashs": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/SlashEvent"
              },
              "description": "Detailed slash events"
            },
            "repayments": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/RepaymentEvent"
              },
              "description": "Detailed repayment events"
            },
            "trust_registries": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/TrustRegistryReputation"
              },
              "description": "Reputation details per trust registry"
            }
          }
        },
        "SlashEvent": {
          "type": "object",
          "properties": {
            "slashed_amount": {
              "type": "string",
              "description": "Amount slashed"
            },
            "slashed_ts": {
              "type": "string",
              "format": "date-time",
              "description": "Slash timestamp"
            },
            "slashed_by": {
              "type": "string",
              "description": "Account that performed the slash"
            }
          }
        },
        "RepaymentEvent": {
          "type": "object",
          "properties": {
            "repaid_amount": {
              "type": "string",
              "description": "Amount repaid"
            },
            "repaid_ts": {
              "type": "string",
              "format": "date-time",
              "description": "Repayment timestamp"
            },
            "repaid_by": {
              "type": "string",
              "description": "Account that performed the repayment"
            }
          }
        },
        "TrustRegistryReputation": {
          "type": "object",
          "properties": {
            "tr_id": {
              "type": "string",
              "description": "Trust Registry ID"
            },
            "tr_did": {
              "type": "string",
              "description": "Trust Registry DID"
            },
            "credential_schemas": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/CredentialSchemaReputation"
              },
              "description": "Reputation details per credential schema"
            }
          }
        },
        "CredentialSchemaReputation": {
          "type": "object",
          "properties": {
            "schema_id": {
              "type": "integer",
              "description": "Credential Schema ID"
            },
            "deposit": {
              "type": "integer",
              "description": "Deposit amount for this schema"
            },
            "slashed": {
              "type": "integer",
              "description": "Slashed amount for this schema"
            },
            "repaid": {
              "type": "integer",
              "description": "Repaid amount for this schema"
            },
            "slash_count": {
              "type": "integer",
              "description": "Number of slash events for this schema"
            },
            "issued": {
              "type": "integer",
              "description": "Number of credentials issued"
            },
            "verified": {
              "type": "integer",
              "description": "Number of credentials verified"
            },
            "run_as_validator_vps": {
              "type": "integer",
              "description": "Number of validation processes run as validator"
            },
            "run_as_applicant_vps": {
              "type": "integer",
              "description": "Number of validation processes run as applicant"
            },
            "issuer_perm_count": {
              "type": "integer",
              "description": "Total issuer permissions"
            },
            "verifier_perm_count": {
              "type": "integer",
              "description": "Total verifier permissions"
            },
            "issuer_grantor_perm_count": {
              "type": "integer",
              "description": "Total issuer grantor permissions"
            },
            "verifier_grantor_perm_count": {
              "type": "integer",
              "description": "Total verifier grantor permissions"
            },
            "ecosystem_perm_count": {
              "type": "integer",
              "description": "Total ecosystem permissions"
            },
            "active_issuer_perm_count": {
              "type": "integer",
              "description": "Active issuer permissions"
            },
            "active_verifier_perm_count": {
              "type": "integer",
              "description": "Active verifier permissions"
            },
            "active_issuer_grantor_perm_count": {
              "type": "integer",
              "description": "Active issuer grantor permissions"
            },
            "active_verifier_grantor_perm_count": {
              "type": "integer",
              "description": "Active verifier grantor permissions"
            },
            "active_ecosystem_perm_count": {
              "type": "integer",
              "description": "Active ecosystem permissions"
            },
            "slashs": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/SchemaSlashEvent"
              },
              "description": "Schema-specific slash events"
            },
            "repayments": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/SchemaRepaymentEvent"
              },
              "description": "Schema-specific repayment events"
            }
          }
        },
        "SchemaSlashEvent": {
          "type": "object",
          "properties": {
            "perm_id": {
              "type": "string",
              "description": "Permission ID that was slashed"
            },
            "schema_id": {
              "type": "integer",
              "description": "Schema ID"
            },
            "tr_id": {
              "type": "string",
              "description": "Trust Registry ID"
            },
            "slashed_ts": {
              "type": "string",
              "format": "date-time",
              "description": "Slash timestamp"
            },
            "slashed_by": {
              "type": "string",
              "description": "Account that performed the slash"
            }
          }
        },
        "SchemaRepaymentEvent": {
          "type": "object",
          "properties": {
            "perm_id": {
              "type": "string",
              "description": "Permission ID that was repaid"
            },
            "schema_id": {
              "type": "integer",
              "description": "Schema ID"
            },
            "tr_id": {
              "type": "string",
              "description": "Trust Registry ID"
            },
            "repaid_ts": {
              "type": "string",
              "format": "date-time",
              "description": "Repayment timestamp"
            },
            "repaid_by": {
              "type": "string",
              "description": "Account that performed the repayment"
            }
          }
        }
      },
      "responses": {
        "BadRequest": {
          "description": "Bad Request - Invalid parameters provided",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Error"
              },
              "example": {
                "error": "Invalid parameter: response_max_size must be between 1 and 100",
                "code": 400
              }
            }
          }
        },
        "ServerError": {
          "description": "Internal Server Error",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Error"
              },
              "example": {
                "error": "Internal server error occurred",
                "code": 500
              }
            }
          }
        }
      }
    },
    "tags": [
      {
        "name": "DID",
        "description": "Decentralized Identifier operations"
      },
      {
        "name": "Trust Registry",
        "description": "Trust Registry management operations"
      },
      {
        "name": "Credential Schema",
        "description": "Credential Schema management operations"
      },
      {
        "name": "Permissions",
        "description": "Permission management operations"
      },
      {
        "name": "TrustDeposit",
        "description": "Trust Deposit management and operations"
      },
      {
        "name": "Account",
        "description": "Account reputation and statistics operations"
      },
      {
        "name": "Indexer",
        "description": "Indexer state and changes tracking operations"
      }
    ]
  }